@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: rgb(197, 195, 195);
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul .brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

nav ul .brand img {
    width: 44px;
    padding: 0px 8px;
}

nav ul li {
    padding: 0px 12px;
}

.container {
    height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 7px auto;
    width: 74%;
    border-radius: 12px;
    padding: 10px;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container .songList .songItemContainer {
    margin-top: 20px;
}

.container .songList .songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 10px 0 10px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    padding: 0px 10px;
}

.container .songList .songItem img {
    width: 43px;
    border-radius: 34px;
}

.container .songList .songItem .timestamp {
    margin: 0 23px;
}

.container .songList .songItem .timestamp i {
    cursor: pointer;
}

.bottom {
    position: sticky;
    height: 106px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom .icons {
    margin-top: 14px;
}

.bottom .icons i {
    cursor: pointer;
    padding: 0px 10px;
}

.bottom #myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.bottom .songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.bottom .songInfo img {
    opacity: 0;
    transition: opacity 1s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
        background-color: red;
    }
}